@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling for a more premium look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #12132b;
}

::-webkit-scrollbar-thumb {
  background: #1e2354;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b3275;
}
